body {
  font-family: "PROFONT" , PROFONT;
    background-color: black;
h1 {
    color: navy;
    margin-left: 20px;
}
}

h1 {color:Red;text-align:center}
h2 {color:red;text-align:center; }
h3 {color:red;text-align:center} 



#italic{
    font-style:italic;
}
p{color:Red; text-align: center;}
li{color:red;
